* {
	color: white;
}

img {
	height: 200px;
	width: 200px;
}

.titleDiv {
	color: black;
}

button {
	color: purple;
}

.fighterCard {
	display: inline-block;
	border: solid aquamarine 5px;
	background-color: black; 
}

/*div.chosenOpponent {
	height: 210px;
}
*/
div div.row {
	margin: 20px;
}